{% extends '../base.html' %}

{% load static %}

{% block content %}


<form action="{% url 'product:product_search' %}" class="my-3 search" method="GET">
    <div class="input-group w-80">
        <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="q" value="{{ q }}">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form> 

<div class="row p-3">
    {% for product in products %}
        <div class="col-sm-4 p-5 my-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" width="250px" height="280px" src="/media/{{ product.images }}" alt="{{ product.product_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <h6 class="card-text">Price: {{ product.price }} 円</h5>
                    <a href="#" class="btn btn-primary">カートに追加</a><br><br>
                    <a href="{% url 'product:product_detail' product.id %}" class="btn btn-warning">詳細</a>
                </div>
            </div>
        </div>

    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}